/* Para la versión móvil (responsive), el logo estará centrado */
.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Para pantallas grandes, el logo se pega a la orilla */
@media (min-width: 992px) {
  .logo-container {
    justify-content: flex-start; /* Pegado a la orilla izquierda */
    padding-left: 15px; /* Agregar un poco de espacio desde la orilla */
  }
}

/* Asegúrate de que el logo no se estire en tamaños pequeños */
.navbar .logo-container img {
  max-width: 180px;
  height: auto;
}

/* Configuración general de la navbar */
.navbar {
  display: flex;
  justify-content: space-between; /* Alineación de los elementos */
  align-items: center; /* Centrado vertical */
  background-color: white; /* Color de fondo */
  font-size: 20px; /* Ajusta el tamaño según tu preferencia */
  font-family: 'Geologica', sans-serif; /* Fuente Geologica */
  padding: 0px 25px; /* Espaciado horizontal entre los elementos */
}

/* Estilo de los enlaces de navegación */
.navbar a {
  text-decoration: none; /* Elimina el subrayado */
  color: black !important; /* Asegura que el color de texto inicial sea negro */
  padding: 10px 15px; /* Ajusta el padding */
  transition: background-color 0.3s, color 0.3s; /* Efecto de transición suave */
  border-radius: 8px; /* Bordes redondeados */
}

.navbar a:hover {
  background-color: black; /* Fondo negro cuando se pasa el cursor */
  color: white !important; /* Texto blanco cuando se pasa el cursor */
}

/* Desactiva los eventos de puntero para las imágenes */
.navbar .navbar-brand img {
  pointer-events: none;
}

/* Separador personalizado */
hr.navbar-divider {
  border-top: 30px solid #cacaca19; /* Ajusta el color y grosor de la línea */
  margin-top: 0;
  margin-bottom: 1rem;
}
.navbar-toggler {
  margin-top: -150px; /* Ajusta este valor para moverlo más arriba o abajo */
}


.footer {
  background-color: #000;
  color: #fff;
  padding: 70px 15px;
  font-family: 'Privacy Policy';
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-logo-container {
  flex: 1;
  padding-left: 30px; /* Mueve el logo un poco hacia la izquierda */
}


.footer-logo img {
  max-width: 150px;
  height: auto;
  margin-left: 5px; /* Ajusta este valor para mover el logo ligeramente a la izquierda */
}

.footer-links {
  display: flex;
  flex: 2;
  justify-content: center; /* Centra las dos columnas */
  gap: 170px; /* Reduce el espacio entre columnas */
}

.footer-links h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #aaa;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-top: 3px solid #cacaca;
  padding-top: 20px;
  text-align: center;
}

.footer-bottom p {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  justify-content: center;
}

.social-icons a img.social-icon {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s;
}

.social-icons a img.social-icon:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Mantén el mismo gap reducido para dispositivos pequeños */
    text-align: center;
  }

  .footer-logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer-bottom {
    padding-top: 30px;
  }
}
